.comment-modal-wrapper{
    --modal-content-width:80%;
    --content-padding:2rem;
    --small-padding: 1rem;
    --modal-b-radius:1rem;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0;
    background: hsla(0, 0%, 10%, .5);
    /* transform: translate(-29.2%, -85%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--modal-b-radius);

    .close-overlay{
        position:absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        z-index:0;
    }

    .action-bar{
        display: flex;
        justify-content: flex-end;
        width: 90%;
        padding: 0 var(--content-padding);
        z-index:2
    }
}


.comment-modal-wrapper.show{
    /* visibility: visible;
    z-index: 99999; */
}

.modal-container{
    width:var(--modal-content-width);
    max-height: 90%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:0;
    overflow-y: auto;
    /* padding:0 var(--content-padding); */
    border-radius: var(--modal-b-radius);
    z-index: 2;
    
    .comment-side{
        background:#020210;
        /* padding:var(--content-padding); */
        height: fit-content;

        /* Poster-Heading section */
        .poster{
            border-bottom: 1px solid hsla(0, 0%, 87%, 0.5);
            padding: var(--small-padding);

            a.menu{
                font-size: 2rem;
            }
        }

        .comment-list-wrapper, .comment-reply-wrapper{
            padding:var(--small-padding);
        }
    }

    .media-side{
        *{
            width:100%;
        }
    }
}

.comment-item{
    display:grid;
    grid-template-columns: 50px 1fr;
    padding-bottom:var(--small-padding);
}
.d-none{
    display: none;
}
.reply-toggler{
    cursor: pointer;
}
.outline{
    outline: auto;
}
ul.comment-reply-wrapper {
    /* display: block; */
    width: min(300px, 500px);
}